body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.playerContainer{
    background-color: rgb(100,160,189);
    width: 50%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    /* display: inline-block; */
    /* float: left; */
}

.computerContainer{
    background-color: rgb(137,172,189);
    width: 50%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    /* display: inline-block;
    float: right;*/
} 

.Icon{
    width: 100px;
    height: 100px;
    /* margin-left: 40%; */
}

/* @media screen and (max-width: 768px){
    .Icon{
        margin-left: 35%;
    }
}

@media screen and (max-width: 480px){
    .Icon{
        margin-left: 20%;
    }
}

@media screen and (max-width: 414px){
    .Icon{
        margin-left: 27%;
        width: 100px;
        height: 100px;
    }
} */